.voucher-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.voucher-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 400px; /* Set fixed height */
    display: flex;
    flex-direction: column;
    box-shadow: -2px 1px 28px 1px rgba(0,0,0,0.75);

}

.voucher-modal-close {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.voucher-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto; /* Add scrollbar if content overflows */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.voucher-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.voucher-item:hover {
    background-color: #f1f1f1;
}
