

.game-instruction-container {
    background-color: #96C9F4;
    min-height: 261px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 25px;
    position: relative;
}

.game-instruction-container p {
    font-weight: 500;
}

.game-instruction-container .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.game-instruction-container .btn img {
    width: 20px;
    margin-right: 10px;
}