
.seller-layout-navigation {
    height: 62px;
}

.seller-layout-container {
    min-height: 100vh;
    transition: all 500ms;
    padding: 20px;
    z-index: 0;
    background-color: #fff;
    
}

.seller-layout-container.wide {
    transform: translateX(256px);
    width: calc(100vw - 256px);
}

@media screen and (max-width: 400px) {
    .seller-layout-container.wide {
        transform: translateX(0px);
    }    
}