/* Add this in your CSS file, e.g., EventManagementPage.css */
.root{
    flex: none;
}
.input-group-custom {
  width: 100%;
}


.form-control {
    flex-grow: 0 !important;
}

.row {
    display: flex;
    justify-content: start !important;
}

.input-group {
    flex-grow: 1;
}

.quiz-button{
    flex-grow: 0 !important ;
    width: fit-content;
    background-color: #80B3FF;
}

.lx-button{
    flex-grow: 0 !important ;
    width: 200px;
    background-color: #687EFF;
}

.add-button{
    flex-grow: 0 !important ;
    width: fit-content;
    background-color: #009626;
}
