.header-bar {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.seller-header-container {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 276px);
  padding: 20px 25px;
}

.user-placeholder img {
  width: 40px;
  height: 40px;
}

.seller-header-container.wide {
  width: calc(100vw - 10px);
  margin: 20px 40px;
  padding: 0%;
}

.seller-header-container .seller-header-title {
  display: flex;
  column-gap: 14px;
  align-items: center;
}

.seller-header-container .seller-header-title h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.15rem;
  color: black;
  margin: auto;
}

.seller-header-container .seller-header-title .three-line {
  width: 30px;
  height: 30px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .seller-header-container {
    padding: 0px 20px;
    flex-grow: 1;
  }

  .header-bar {
    justify-content: start;
  }
}

.dropdown-menu {
  min-width: 200px;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  box-shadow:
    2px 3px 30px -8px rgba(22, 23, 24, 0.5),
    -2px -2px 20px -10px rgba(22, 23, 24, 0.5);
}

.dropdown-item {
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #0f67b1;
  color: white;
}
