.quizbox-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box-delete {
    /* position: absolute;
    right: 30px;
    display: inline;     */
    height: 100%;
}

.quizbox-add-quiz-button {
    margin-left: 10px;
  }

.quizbox-quizBox {
    width: 450px;
    height: max-content;
    margin-top: 15px;
    border: 1px solid rgb(86, 77, 77);
    padding: 8px;
    border-radius: 4px;

    .title {
        font-weight: 600;
    }
}

.quizbox-question {
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 8px;
    height: 30px;
}

.quizbox-answer {
    width: 90%;
    border: 1px solid rgb(59, 59, 59);
    margin: 5px 0px;
    border-radius: 3px;
    padding: 5px;

}

.quizbox-quizHeader {
    margin-bottom: 30px;
}



.quizbox-radio {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    right: 30px;
}
  
  /* .quizbox-radio:checked::before {
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    margin-left: 3px;
    border: solid green;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  } */