.EventManagement-input-group{
  flex-grow: 0 !important ;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  width: 100%;
  align-items: stretch;
}


.EventManagement-form-control {
  flex-grow: 0 !important;
}

.EventManagement-row {
  display: flex;
  justify-content: start;
}

.EventManagement-input-group {
  flex-grow: 1;
  width: 500px !important;
}

.EventManagement-quiz-button {
  flex-grow: 0 !important ;
  width: fit-content;
  background-color: #80b3ff;
}

.EventManagement-lx-button {
  flex-grow: 0.EventManagement-1 !important ;
  width: fit-content;
  background-color: #ff6868;
}

.EventManagement-add-button {
  width: fit-content;
  background-color: #009626;
}

.EventManagement-table-bordered {
  /*border: 1px solid #ddd;
  border-collapse: collapse;*/
}

.EventManagement-table-bordered th,
.EventManagement-table-bordered td {
  background-color: #EDF3FF;
  border-bottom: 2px solid #ffffff;
}

.EventManagement-table-bordered th {
  background-color: #BAFFFA;
}



.EventManagement-pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.EventManagement-pagination li {
  margin: 0 5px; 
  border-radius: 15px;
}

.EventManagement-pagination li a {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ddd;
  color: #007bff;
  border-radius: 8px;
}

.EventManagement-pagination li.active a {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.EventManagement-pagination li a:hover {
  background-color: #ddd;
}


.EventManagement-pagination-textbox {
  width: 100px;
  height: fit-content;
  background-color: #ECE6F0;
  color: black;
  border-radius: 8px;
  padding: 5px;
  margin-right: 10px;
}

.EventManagement-pagination-button {
  background-color: #18a4e5;
}


