.input-group{
  flex-grow: 0 !important ;
  flex-wrap: nowrap;
}

.form-control {
  flex-grow: 0 !important;
}

.row {
  display: flex;
  justify-content: start !important;
}

.input-group {
  flex-grow: 1;
  width: 500px !important;
}

.quiz-button {
  flex-grow: 0 !important ;
  width: fit-content;
  background-color: #80b3ff;
}

.lx-button {
  flex-grow: 0.1 !important ;
  width: fit-content;
  background-color: #ff6868;
}

.add-button {
  flex-grow: 0 !important ;
  width: fit-content;
  background-color: #009626;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-bordered th {
  background-color: #f2f2f2;
}

