.game-items-container {
  background-color: #3fa2f6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px 25px;
  height: 100%;
  position: relative;
}

.game-items-container p {
  font-weight: 500;
}

.game-items-container .btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.game-items-container .btn img {
  width: 20px;
  margin-right: 10px;
}
